<!-- USE SEMENTIC HTML -->
<div class="container" *ngIf="endPoint">
  <div class="row" >
    <div class="col-md-12">
      <p class="title">{{title}}</p>
    </div>
    <!-- BEGIN OF BARS -->
    <div class="bars-wrapper col-md-12">
      <ng-container *ngFor="let bar of bars; let i = index">
        <div id="progressbar-{{i + 1}}" class="outter-wrapper" [class.unseleted-bar-styles]="selectedBar !== i">
          <!-- unit test >0 -->
          <p>{{widthArray[i] / limit | percent}}</p>
          <div class="inner-wrapper" [style.width.%]="(widthArray[i] * 100) / limit" [style.background-color]="colorArray[i]">
          </div>
        </div>
      </ng-container>
    </div>
    <!-- END OF BARS -->
  </div>

  <div class="row">
    <!-- BEGIN OF SELECTION BOX -->
    <div [className]="buttonAmont > 4 ? 'col-md-4' : 'col-md-6' ">
      <mat-form-field>
        <mat-select [(ngModel)]="selectedBar">
          <mat-option *ngFor="let bar of bars; let i = index" [value]="i">
            Progress Bar {{i + 1}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- END OF SELECTION BOX -->

    <!-- BEGIN OF BUTTONS -->
    <div [className]="buttonAmont > 4 ? 'col-md-8 buttons-wrapper' : 'col-md-6 buttons-wrapper' ">
      <div class="row">
        <ng-container *ngFor="let button of buttons">
          <div class="col">
            <button class="primary-button" (click)="aniamteProgressBar(button)">
              <span *ngIf="button > 0">+</span>
              <span>{{button}}</span>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- END OF BARS -->

  </div>
</div>